*, ::after, ::before {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
  width: 100%; /* Ensure full viewport width */
}
header, main, footer {
  width: 100%; /* Ensure full width */
}
.navbar-brand {
  white-space: nowrap; /* Prevent the brand name from wrapping */
}
main {
  height: 100vh; /* Make main section take full viewport height */
  background: url('assets/img/') center / cover no-repeat;
}
.container {
  max-width: 100%; /* Ensure container takes full width */
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

